<!DOCTYPE html>
<html>
<head>
  <title>Bsgenerator</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <meta name="google-site-verification" content="XuX6TLpSvFQh9wl1Wj98DCSuk_a4xV9OYgW5Mi_wsBA" />
</head>
<body>

<%= yield %>

</body>
</html>
